#nav{
  background-color: #000 !important;
}

#carousel img{
  height: 84.3vh;
  filter: grayscale(70%);
  object-fit: cover;
}

#carousel{
  position: relative;
}

#carousel .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
}

#Email{
  margin-left: 25%;
}

#footer{
  background-color: #000 !important;
}

#footer a{
  color: white;
}

.overlay .container,
.overlay .row{
  height: 100%;
}
